<article class="speakerslist">
<section class="layout">
<div class="speakers">
<%artists.forEach(function(item){ %>
	<article class="artist group">

<h3> <%=item.title%><span class="small">
<a href="/speakers/<%=item.shortname%>">
<%= item.name %></span></a>
<p>
<a href="/speakers/<%=item.shortname%>">
<img class="speaker" src="/images/speakers/Srinivas.jpg"  alt="">
</a>
</p>

</h3>
	</article>

<% });  %>
</div>
</section>
</article>

